<link rel="stylesheet" href="~/css/home-index.css" />
@{
    ViewData["Title"] = "Home Page -";
}
<div class="text-center" id="rotate1">
    <h1 class="display-4">Welcome.</h1>
    <p>I'm Greg Dost, a computer programmer with experience in full stack web development, desktop applications, and machine learning</a>.</p>
</div>
<div class="text-center" id="rotate2">
    <h1 class="display-4">Projects</h1>
    <p>How about checking out some of the projects I've worked on?</a></p>
    <!--- TODO: Add a div to hold items from ProjectModel.cs. While the rotate2 div is visible, it should contain 3 or so different project links with some information, that it switches between--->
</div>
<div class="text-center" id="rotate3">
    <h1 class="display-4">Projects</h1>
    <p>I also have a linkedin, and a blog.</a></p>
</div>
<div id="displayArea"></div>
<script src="~/js/home-index.js"></script>