@{
    ViewData["Title"] = "Home Page -";
}

<div class="text-center">
    <h1 class="display-4">Welcome.</h1>
    <p>I'm Greg Dost, a computer programmer with experience in full stack web development, desktop applications, and machine learning</a>.</p>
</div>
